global:
  resolve_timeout: 5m

inhibit_rules:
  - equal:
      - namespace
      - alertname
    source_matchers:
      - severity = critical
    target_matchers:
      - severity =~ warning|info

  - equal:
      - namespace
      - alertname
    source_matchers:
      - severity = warning
    target_matchers:
      - severity = info

  - equal:
      - namespace
    source_matchers:
      - alertname = InfoInhibitor
    target_matchers:
      - severity = info

  - target_matchers:
      - alertname = InfoInhibitor

receivers:
  - name: empty
  - name: discord-receiver
    discord_configs:
    - send_resolved: true
      webhook_url: "{{ kubernetes_manifests_prometheus_discord_url }}"

route:
  group_by:
    - alertname
    - job
  group_interval: 1m
  group_wait: 5s
  receiver: discord-receiver
  repeat_interval: 3h
  routes:
    - matchers:
        - alertname = "Watchdog"
      receiver: empty
    - receiver: discord-receiver

templates:
  - /etc/alertmanager/config/*.tmpl
