{% set auth_bas64 = (kubernetes_secret.docker_username + ':' + kubernetes_secret.docker_password) | b64encode %}
{{ ('{
  "auths": {
    "' + kubernetes_secret.docker_server + '": {
      "username":"' + kubernetes_secret.docker_username + '",
      "password":"' + kubernetes_secret.docker_password + '",
      "auth":"' + auth_bas64 + '"
    }
  }
}') | b64encode }}