---
{% if kubernetes_version is version('1.26.0','>=')  %}
apiVersion: kubeadm.k8s.io/v1beta3
{% else %}
apiVersion: kubeadm.k8s.io/v1beta2
{% endif %}
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version.split('-')[0] }}
controlPlaneEndpoint: "{{ k8s_control_plane_host }}:{{ k8s_control_plane_port }}"
networking:
  serviceSubnet: {{ k8s_service_subnet }}
  podSubnet: {{ k8s_pod_subnet }}
  dnsDomain: "cluster.local"
apiServer:
  certSANs:
    - "kubernetes"
    - "{{ k8s_control_plane_host }}"
    - "{{ k8s_control_plane_ip }}"
  extraArgs:
{% if kubernetes_audit_log_enabled or kubernetes_audit_webhook_enable %}
    audit-policy-file: /etc/kubernetes/policies/audit-policy.yaml
{% if kubernetes_audit_log_enabled %}
    audit-log-path: "{{ kubernetes_audit_log_path }}" # where logs should be written within the pod
    audit-log-mode: "{{ kubernetes_audit_log_mode }}" # Default: "blocking" - blocking or batch writes
    audit-log-maxbackup: "{{ kubernetes_audit_log_maxbackup }}" # max log files to retain
    audit-log-maxage: "{{ kubernetes_audit_log_maxage }}" # how many days to keep
    audit-log-maxsize: "{{ kubernetes_audit_log_maxsize }}" # size in megabytes before the log is rotated.
{% endif %}
{% if kubernetes_audit_webhook_enable %}
    audit-webhook-config-file: "/etc/kubernetes/policies/webhook-config.yaml"
    audit-webhook-initial-backoff: "{{ kubernetes_audit_webhook_initial_backoff }}"
    audit-webhook-mode: "{{ kubernetes_audit_webhook_mode }}" # Default: "batch"
    audit-webhook-batch-buffer-size: "{{ kubernetes_audit_webhook_batch_buffer_size }}" # Default: 10000
    audit-webhook-batch-max-size: "{{ kubernetes_audit_webhook_batch_max_size }}" # Default: 400
    audit-webhook-batch-max-wait: "{{ kubernetes_audit_webhook_batch_max_wait }}" # Default: 30s
    audit-webhook-truncate-enabled: "{{ kubernetes_audit_webhook_truncate_enabled }}" # default false
{% endif %}
  extraVolumes:
    - name: audit-policy
      hostPath: /etc/kubernetes/policies/
      mountPath: /etc/kubernetes/policies/
      readOnly: true
      pathType: "DirectoryOrCreate"
{% if kubernetes_audit_log_enabled %}
    - name: audit-log
      hostPath: /var/log/kubernetes/audit/
      mountPath: /var/log/kubernetes/audit/
      readOnly: false
      pathType: "DirectoryOrCreate"
{% endif %}
{% endif %}
# Prometheus Monitoring :10257/metrics
controllerManager:
  extraArgs:
    bind-address: "0.0.0.0"
# Prometheus Monitoring :10259/metrics
scheduler:
  extraArgs:
    bind-address: "0.0.0.0"
# Prometheus Monitoring :2381/metrics
etcd:
  local:
    extraArgs:
      listen-metrics-urls: "http://0.0.0.0:2381"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
# Prometheus Monitoring :10249/metrics
metricsBindAddress: 0.0.0.0:10249
